name: Validate Terraform Infra

on:
  push:
    branches: [ "main", "feature/**" ]
  pull_request:

env:
  INFRA_DIR: infrastructure
  AWS_REGION: eu-north-1

jobs:
  test-terraform:
    name: Terraform Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Set AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          working_directory: ${{ env.INFRA_DIR }}

      - name: Setup tflint
        uses: terraform-linters/setup-tflint@v4

      - name: Init tflint
        run: tflint --init --chdir=${{ env.INFRA_DIR }}

      - name: Run tflint
        run: tflint --chdir=${{ env.INFRA_DIR }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.INFRA_DIR }}

      - name: Terraform Format Check
        run: terraform fmt -check
        working-directory: ${{ env.INFRA_DIR }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ env.INFRA_DIR }}

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: ${{ env.INFRA_DIR }}
